<section class="inner">
  <div class='container px-5 px-sm-0'>
    <div class="row">
      <div class="col-mg-3">
        <h2><%= @post.user.name %> さんの <%= @post.created_at.strftime('%m/%d') %> の予定</h2>
      </div>
      <div class='col-md-8 offset-md-1'>
        <table class="posts_info">
            <tr>
              <td>時間</td>
              <td><%= @post.start_time.strftime('%H:%M') %> ~ <%= @post.finish_time.strftime('%H:%M') %></td>
            </tr>
            <tr>
              <td>ゲーム</td>
              <td><%= @post.genre.name %></td>
            </tr>
            <tr>
              <td>今日の気分</td>
              <td><%= @post.feeling.feeling %></td>
            </tr>
            <tr>
              <td>一言</td>
              <td><%= @post.oneword %></td>
            </tr>
            <tr>
              <td><%= render 'comments/form', post: @post, comment: @comment, url:  %></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</section>
