<% if post.comments.present? %>
  <p>コメント件数：<%= post.comments.count %></p>
  <div>
    <% post.comments.each do |comment| %>
      <%= image_tag comment.user.get_image(200,200), style: "border-radius: 50%; width: 50px; height: 50px; object-fit:cover;" %>
      <%= comment.user.name %>
      <div>
        <%= comment.created_at.strftime('%H:%M') %>
        <%= comment.comment_content %>
      </div>
      <% if comment.user == current_user %>
        <div class="comment-delete">
          <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, data: {confirm: "本当に削除しますか？"} %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>コメントはまだありません</p>
<% end %>