<table class='table'>
  <tr><%= image_tag user.get_image(100,100) %></tr>
  <tr>
    <h2><%= user.name %></h2>
  </tr>
  <tr>
    <th>自己紹介</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>ステータス</th>
    <th>
      <% if current_user.id == @user.id %>
        <%= form_with model:user, url: user_path(user), method: :patch do |f| %>
          <%= f.select :is_active, [['オフライン',0],['オンライン',1]] %>
          <%= f.submit "更新", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <%= user.is_active %>
      <% end %>
    </th>
  </tr>
</table>

<div class='row'>
  <% if current_user.id == @user.id %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>