<table class='table'>
  <tr><%= image_tag user.get_image(200,200), style: "border-radius: 50%; width: 200px; height: 200px; object-fit:cover;" %></tr>
  <tr>
    <h2 class="text-center">
      <%= user.name %>
      <% if user.is_active? %>
        <i class="fas fa-circle fa-xs" style="color:limegreen;"></i>
      <% else %>
        <i class="far fa-circle fa-xs" style="color:lightslategray;"></i>
      <% end %>
    </h2>
  </tr>
  <tr>
    <th>自己紹介</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>ステータス</th>
    <th>
      <% if current_user.id == @user.id %>
        <%= form_with model:user, url: user_path(user), method: :patch do |f| %>
          <%= f.select :is_active, [['オフライン',false],['オンライン',true]] %>
          <%= f.submit "更新", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <% if user.is_active? %>
          <p class="text-success">オンライン</p>
        <% else %>
          <p class="text-danger">オフライン</p>
        <% end %>
      <% end %>
    </th>
  </tr>
</table>

<div class='row'>
  <% if current_user.id == @user.id %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-edit"></i>
    <% end %>
  <% end %>
</div>