<section class="inner">
<h2>ユーザー検索</h2>
<%= render 'search', q: @q, url: users_path %>
<table class="users has_border">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr onclick='window.location="<%= user_path(user) %>"' role="link">
        <td><%= image_tag user.get_image(100,100), style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %></td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
