<div class='container'>
  <div class='row'>
    <div class='col-md-5'>
      <%= render 'info', user: @user %>
      <div class="mx-auto" style="width: 250px;">
        <% if @user.follow_request?(current_user, @user) %>
          <div>
            <p class="font-weight-bold">フレンドリクエストされています</p>
          </div>
          <div>
            <p class="font-weight-bold">
              フレンド申請を許可する
              <%= link_to '許可', user_relationships_path(@user.id), method: :post, class:"btn btn-outline-info" %>
            </p>
          </div>
        <% end %>

        <% if current_user.id == @user.id %>
        <% else %>
          <% unless current_user.following?(@user) %>
            <div class="text-center">
              <%= link_to 'フレンド申請を送信', user_relationships_path(@user.id), method: :post, class:"btn btn-outline-info" %>
            </div>
          <% else %>
            <div class="text-center">
              <%= link_to 'フレンド申請を削除', user_relationships_path(@user.id), method: :delete, class:"btn btn-outline-danger" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class='col-md-6 offset-md-1'>
      <h2 class="text-center font-weight-bold">ゲーム時間</h2>
      <div class="font-weight-bold mx-auto" style="width: auto;">
        <%= render 'public/posts/index', posts: @posts %>
      </div>
    </div>
  </div>
</div>